body {
    background: antiquewhite;

    .header_logo {
    margin-left: 10px ;
    height: 100%;
    }

    footer {
        background: #333;
        height: 30px;
        color: white;
        z-index:10;
    }

    #content {
        background: white;
    }

    .document {
        width: 90%;
    }

    #sidebar {
        margin: 5px;
        padding: 5px;
        background: white;
        height:100%;
        overflow-y: scroll;
    }

    .sidebar_title {
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }
}

